@font-face {
  font-family: "Computer Modern";
  src: url("../fonts/computer-modern/cmunrm-webfont.ttf");
}
@font-face {
  font-family: "Computer Modern";
  src: url("../fonts/computer-modern-bold/cmunbx-webfont.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Computer Modern";
  src: url("../fonts/computer-modern-italic/cmunti-webfont.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Computer Modern";
  src: url("../fonts/computer-modern-bold-italic/cmunbi-webfont.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "source serif pro";
  src: url("../fonts/source-serif-pro/SourceSerifPro-Regular.otf");
}
@font-face {
  font-family: "source serif pro";
  src: url("../fonts/source-serif-pro/SourceSerifPro-It.otf");
  font-style: italic;
}
@font-face {
  font-family: "source serif pro";
  src: url("../fonts/source-serif-pro/SourceSerifPro-Semibold.otf");
  font-weight: bold;
}
@font-face {
  font-family: "source serif pro";
  src: url("../fonts/source-serif-pro/SourceSerifPro-SemiboldIt.otf");
  font-weight: bold;
  font-style: italic;
}
