.post-wrap
  width 100%
  max-width 780px
  margin 0 auto
  padding-top 2rem

  .archive-item
    margin-left 1rem
    margin-top 3px

.archive-item-link
    display inline-block
    text-decoration none
    overflow hidden
    text-overflow ellipsis
    border-left: 1.5px solid $light-font-color
    padding-left: 10px
    margin-top: 3px
    margin-bottom: 3px
    max-width: 570px
    transition-duration: .3s
    transition-property: transform
    transition-timing-function: ease-out
    &:hover
      color $light-global-link-hover-color
      border-left: 1.5px solid $light-global-link-hover-color
      background-color transparent
      transform: scale(1.1)  // zoom out the icon
      font-weight bold

    .dark-theme &
      color $dark-global-link-color
      border-left: 1px solid $dark-font-color
      text-decoration none
      transition-duration: .3s
      transition-property: transform
      transition-timing-function: ease-out
      //transition color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease

      &:hover
        color $dark-global-link-hover-color
        text-decoration none
        //transition color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease

  .archive-item-date
    float right
    text-align right
    color $light-font-secondary-color

    .dark-theme &
      color $dark-font-secondary-color
