@font-face {
	font-family: "Computer Modern";
    src: url('../fonts/computer-modern/cmunrm-webfont.ttf');
}

@font-face {
	font-family: "Computer Modern";
    src: url('../fonts/computer-modern-bold/cmunbx-webfont.ttf');
    font-weight: bold;
}

@font-face {
	font-family: "Computer Modern";
    src: url('../fonts/computer-modern-italic/cmunti-webfont.ttf');
    font-style: italic;
}

@font-face {
	font-family: "Computer Modern";
    src: url('../fonts/computer-modern-bold-italic/cmunbi-webfont.ttf');
    font-weight: bold;
    font-style: italic;
}


@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC:400,700&display=swap')


$font-family ='Computer Modern', 'Noto Serif SC', serif