
<div class="container">
    <div class="post-wrap page" style="text-align:center;">
        <br>
        <br>
        <h1 class="post-title">About Me</h1>
    </div>
</div>

<br>

<div class="container" style="text-align:center;">
    <div class="post-wrap img">
        <img src="me.jpeg" alt="drawing" height="250" />
    </div>
    <div class="post-wrap info">
        <p style="vertical-align: middle"><b>Yihang (Ian) Ding</b> 丁一航</p>
        <p>I am a software engineer at Apple. <br>现就职于苹果的软件工程师。</p>
        <a class="email" href="mailto:dingyihang1994@gmail">E-mail</a> | 
        <a class="linkedin" href="https://www.linkedin.com/in/yihangding/">LinkedIn</a> | 
        <a class="github" href="https://github.com/SilhDing">GitHub</a>
    </div>
</div>


<div class="container">
	<%# toc %>
    <%if(theme.post_toc_enable && toc(page.content).length!==0){%>
        <%- partial('_partial/toc') %>
    <%}%>
    <article class="post-wrap page">
        <section class="post-content">
            <%- page.content %>
        </section>
    </article>
</div>


<div class="post-wrap page" style="text-align:center;">
    <div class="post-wrap card">
        <div class="title">
            Carcassonne Game in Java
        </div> 
        <div class="text"> The multi-player Carcassonne Board Game implemented in Java.
        </div>
        <div class="link"><a class="link2" href="/2020/01/20/carcassonne-1/">Click for More</a></div>
    </div>
    <div class="post-wrap card">
        <div class="title">
            Carcassonne Game in Java
        </div> 
        <div class="text"> TODO.
        </div>
        <div class="link"><a class="link2" href="/">Click for More (TODO)</a></div>
    </div>
    <div class="post-wrap card">
        <div class="title">
            Carcassonne Game in Java
        </div> 
        <div class="text"> TODO.
        </div>
        <div class="link"><a class="link2" href="/">Click for More (TODO)</a></div>
    </div>
    <div class="post-wrap card">
        <div class="title">
            Carcassonne Game in Java
        </div> 
        <div class="text"> TODO.
        </div>
        <div class="link"><a class="link2" href="/">Click for More (TODO)</a></div>
    </div>
    <div class="post-wrap card">
        <div class="title">
            Carcassonne Game in Java
        </div> 
        <div class="text"> TODO.
        </div>
        <div class="link"><a class="link2" href="/">Click for More (TODO)</a></div>
    </div>
    <div class="post-wrap card">
        <div class="title">
            Carcassonne Game in Java
        </div> 
        <div class="text"> TODO.
        </div>
        <div class="link"><a class="link2" href="/">Click for More (TODO)</a></div>
    </div>
</div>
<br>
<br>
<br>