<footer id="footer" class="footer">
    <div class="copyright">
        <span>© <%= config.author %> | Powered by <i><a href="https://hexo.io" target="_blank">Hexo</a></i> & <i><a href="https://github.com/Siricee/hexo-theme-Chic" target="_blank">Chic</a></i></span>
    </div>
</footer>
