.vssue-button
  outline none
  cursor pointer
  padding 10px 20px
  font-size 1
  font-weight bold
  color $vssue-theme-color
  background-color transparent
  border 2px solid $vssue-theme-color
  border-radius 10px
  &:disabled
    cursor not-allowed
    color $vssue-border-color
    border-color $vssue-border-color
    .vssue-icon
      fill $vssue-border-color
    .dark-theme &
      color $vssue-border-color-dark
      border 2px solid $vssue-border-color-dark
  &:not(:disabled)
    &.vssue-button-default
      color $vssue-text-light-color
      border-color $vssue-text-light-color
      .dark-theme &
        color #EC1E1E
        border 2px solid #EC1E1E
    &.vssue-button-primary
      color $vssue-theme-color
      border-color $vssue-theme-color
      .dark-theme &
        color $vssue-theme-color-dark
        border 2px solid $vssue-theme-color-dark

