  .vssue-header
    padding-bottom 10px
    border-bottom 1px solid $vssue-border-color
    .dark-theme &
    	border-bottom 1px solid $vssue-border-color-dark
    margin-bottom 10px
    overflow hidden
    .vssue-header-comments-count
    	display none
    .vssue-header-powered-by
      float right
      font-style italic
      color $vssue-text-light-color
