// the main color
$vssue-theme-color ?= $light-theme-main-color

// the text color (used for common text)
$vssue-text-color ?= $light-font-color
$vssue-text-color-dark ?= $dark-font-color

// the text light color (used for muted text, disabled text, etc)
$vssue-text-light-color ?= $light-font-secondary-color

// the border color
$vssue-border-color ?= $light-border-color
$vssue-border-color-dark ?= $dark-border-color

// background color
$vssue-bg-color ?= $light-post-blockquote-background-color
$vssue-bg-color-dark ?= $dark-post-blockquote-background-color

// input background color
$vssue-input-bg-color ?= #f1f1f1
$vssue-input-bg-color-dark ?= #565656

// the progress color
$vssue-progress-color ?= $vssue-theme-color

// the font size
$vssue-font-size ?= 16px

// the font family
$vssue-font-family ?= $font-family

// the mobile breakpoint
$vssue-breakpoint-mobile ?= 576px

// ltr-rtl direction
$vssue-direction ?= ltr
